<!DOCTYPE html>

<head>
    <title>Update Profile</title>
    <link rel="icon" href=" ">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>

        Task added!
        <form>
            <button>
                <a href='/tasks?sortBy=createdAt:desc'>Return</a>
            </button>
        </form>

    </div>

</body>

</html>