<!DOCTYPE html>

<head>
    <title>Dashboard</title>
    <link rel="icon" href=" ">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        {{!-- {{>header}} --}}

        <h2>Welcome, {{name}}!</h2>
        {{ avatar }}


                <br /><br />

        {{!-- <form method="GET" action="/users">
            <button>Active Users</button>
        </form> --}}


        {{description}}
        {{status}}



        <br />


    </div>

</body>

</html>