<!DOCTYPE html>

<body>
    <div>
        <p>Task added!</p>
        <form>
            <button>
                <a href='/tasks?sortBy=createdAt:desc'>Return</a>
            </button>
        </form>
    </div>
</body>

</html>