<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <p>Congrats, you've successfully registered or logged in!</p>



    <form method="GET" action="/tasks">
      <button>View Tasks</button>
    </form>

    <form method="GET" action="/users/me">
      <button>View Profile</button>
    </form>

    <form method="POST" action="/users/logout">
      <button>Log Out</button>
    </form>

  </body>
</html>